Update "hold" to "apply"

May we update each instance of "hold" to "apply" (and "holds" to "applies") for clarity? One example:

```
Original:
   Therefore, building on Section 7.3 of [RFC8613], the following
   properties hold for Group OSCORE:

Perhaps:
   Therefore, building on Section 7.3 of [RFC8613], the following
   properties apply to Group OSCORE:

```
...
Note that we will leave this instance as is:
```
   In fact, as long as the Master Secret is different for different
   groups and this condition holds over time, keys are different among
   different groups.
```

The suggested change looks good to me.