Inclusive Language

Please review the "Inclusive Language" portion of the online Style Guide <https://www.rfc-editor.org/styleguide/part2/#inclusive_language> and let us know if any changes are needed.  Updates of this nature typically result in more precise language, which is helpful for
readers. 

For example, please consider whether the term "master" should
be updated. Common replacements in the RFC Series include "primary",
"main", "host", "leader", or "orchestrator".

I believe that there is nothing to change according to the online Style Guide.

Regarding the word "Master", it should be kept due to the following reasons:

* The terms "Master Secret" and "Master Salt" as used in this context were coined in RFC 8613 and propagated in this document to refer to the same concepts.

* There are already a number of related publications in this area and these terms are used in several ones, including RFC 9031, RFC 9203, RFC 9528, RFC 9668, 3GPP AKMA (TS 33.535), and OMA Specworks L2wM2M (core specification). Changing the terminology in this document will most likely not cause any change in the use of these established terms and only create confusion.

This point was also discussed during the reviews of what became RFC 9528 and of draft-ietf-core-oscore-groupcomm (RFC-to-be-10021), and the agreement at the time was to not make any change.