Expansion of "HKDF"

FYI - We have removed "HMAC-based" from "HKDF Algorithms" to avoid redundancy, as this would read "HMAC-based HMAC-based Key Derivation Function algorithms" if expanded.

```
Current:
   The HMAC-based Key Derivation Function (HKDF) Algorithm (see
   Section 3.1 of [RFC8613]) identifies the used key derivation
   function, which MUST be one of the HKDF [RFC5869] algorithms defined
   for COSE (see Section 5.1 of [RFC9053]) and registered at
   [COSE.Algorithms].
```

Please consider the following update.

CURRENT
which MUST be one of the HKDF [RFC5869] algorithms defined for COSE (see Section 5.1 of [RFC9053]) and registered at [COSE.Algorithms].

NEW
which MUST be one of the HKDF [RFC5869] algorithms defined for COSE to use HMAC as the underlying PRF (see Section 5.1 of [RFC9053]) and registered at [COSE.Algorithms].

Rationale: While the original "HMAC-based HKDF" is redundant in its expansion, it was intentionally used to stress that the HKDF **really** has to be based on HMAC. In fact, Section 5.1 of RFC 9053 does admit alternatives (see the text quoted below and Table 8 in that section).

> HKDF is defined to use HMAC as the underlying PRF. However, it is possible to use other functions in the same construct to provide a different KDF that is more appropriate in the constrained world.

The proposed new text above should make the original intent clear while avoiding redundancies when expanding the acronyms.